
.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.hLinknav{
  margin-right: 26px;
}
.btnNav{
  margin: 5px;
  padding: 10px 20px;
  background-color: #ba360a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -7px;
  text-decoration: none;
  color: whitesmoke;
}
.carousel-container {
   /* Height of the fixed navbar */
   margin-top: 7rem;
}
.navdropdown{
  top: -1px;
}

.carouselImg {
   /* Subtract the height of the fixed navbar */
}
.Home_Head{
  font-weight: 800;
  font-size: 31px;
}

.navimg {
  height: 40px;
    margin-left: 38px;
    
  
}
.Appimg{
  height: 40px;
    margin-left: -24px;
    
  
}
.Home_Head_main{
  display: flex;
  
  
}

.ms-auto{
  margin-top: 12px;
}
.Home_about{
  padding-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 700;
}
.Linknav{
  text-decoration: none;
  color: black;
}

/* .carouselImg {
  padding-top: 10px;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
} */
.carouselImg,
.carousel-container {
  /* height: 400px; */
  object-fit: cover;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  height: calc(100vh - 56px);
}

.Home_card_group {
  /* Home card group styles */
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.Home_card {
  /* Home card styles */
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.Homecard_img1 {
  /* Home card image styles */
  width: 100%;
  border-radius: 5px;
  height: 278px;
  
}

.Home_card_body {
  /* Home card body styles */
  margin-top: 10px;
}

.Home_card_title {
  /* Home card title styles */
  font-size: 18px;
  font-weight: bold;
}

.Home_card_text {
  /* Home card text styles */
  font-size: 14px;
}






/* Style inputs */
.Home_Input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.HomeSubmit {
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.HomeSubmit:hover {
  background-color: #a06045;
}

/* Style the container/contact section */
.Homecontainer {
  
  border-radius: 5px;
  padding: 10px;
  
}
.Home_Contact_us{
  font-size: 27px;
  font-weight: 700;
}

/* Create two columns that float next to eachother */
.Home_column {
  background-color: #41423F;
  display: flex;
  /* float: left; */
  flex-direction: column;
  /* width: 50%; */
  margin-top: 6px;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.Home_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, .HomeSubmit{
    width: 100%;
    margin-top: 0;
  }
}

.Home_footer_main {
  /* padding: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  
 
}

.Home_footer_sub {
  margin-bottom: 10px;
  
}

.Home_footer_sub1 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.Home_footer_sub2 {
  color: rgb(1, 1, 1);
  text-decoration: none;
}
.Search_Link{
  text-decoration: none;
}

.btnNav{
  margin-bottom: 12px;
}